<html>
	<head>
		<script
			  src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

		<script type="text/javascript">
			$(document).ready(function(){
				$('#formulario input').on('change', function() {
   					$("#respuesta").val(($('input[name=opcion]:checked', '#formulario').val())); 
				});
			});
			
		</script>
	</head>
	<body>
		<div id="contenedor" style="width:1200px; text-aling:center; margin-left:5%;">
			<center>
				<h1>Bienvenido a PlayPreguntas</h1>

			
				<h2 id="pregunta">¿Quien dijo: <%= @primeraPregunta %>?</h2>
			</center>
			<div style="width:500px; margin-left:30%">
				<fieldset>
					<legend>Opciones</legend>
					<div style="width:50%">
						<form method="POST" action="/playpreguntas" id="formulario">
							<div>
							
									<%= @opciones %>
									<input type="submit" value="Responder" />
								
							</div>
							<h3><%= @resultado %></h3>
							<input type="hidden" name="respuesta" id="respuesta" />
						</form>
					</div>
					<div style="width:50%">
						<h3><%= @puntos %></h3>
					</div>
				</fieldset>
			</div>
		</div>
		
	</body>
</html>
